<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Hello</h1>
	<form method="POST" id="form">
		<input type="password" placeholder="输入上传密码" name="password">
		<input id="file" type="file" name="file">
		<button id="submit" type="submit">提交</button>
	</form>

	<script type="text/javascript">
		var uploading = false;
		function ajax(formData, callback) {
			var xhr = new XMLHttpRequest();
			xhr.open('post', '/api/operator/files')
			xhr.send(formData)
			xhr.onload = callback
		}
		document.getElementById('form').onsubmit = function (e) {
			e.preventDefault()
			var formData = new FormData(document.getElementById('form'))
			ajax(formData, function () {
				var res = JSON.parse(this.response)
				if (res.success) {
					alert('上传成功')
				}else {
					alert('上传失败:' + res.message)
				}
			})
		}
	</script>
</body>
</html>